---
layout: landing
---

<section id="banner">
  <div class="inner">
    <h2>{{ site.title }}</h2>
    <p>{{ site.description | markdownify }}</p>
  </div>
  <a href="#intro" class="more scrolly">Details</a>
</section>

<section id="details" class="wrapper style1 special">
  {% include sections/details.html %}
</section>

<section id="couple" class="wrapper alt style2">
{% include sections/couple.html %}
</section>

<section id="rsvp" class="wrapper style3 special" style="background-color: #fffafa">
  {% include sections/rsvp.html %}
</section>

<section id="registry" class="wrapper style3 special">
  {% include sections/honeyfund.html %}
</section>

