---
layout: landing
---

<section id="banner">
  <div class="inner">
    <h2>{{ site.title }}</h2>
    <p>{{ site.description | markdownify }}</p>
  </div>
  <a href="#intro" class="more scrolly">Details</a>
</section>

<section id="details" class="wrapper style1 special">
  {% include sections/details.html %}
</section>

<section id="rsvp" class="wrapper alt style2">
  {% include sections/rsvp.html %}
</section>

<section id="ceremony" class="wrapper alt style2">
  {% include sections/ceremony.html %}
</section>

<section id="reception" class="wrapper alt style2">
  {% include sections/reception.html %}
</section>

<section id="dinner" class="wrapper alt style2">
  {% include sections/dinner.html %}
</section>

<section id="info" class="wrapper alt style2">
  {% include sections/info.html %}
</section>

<section id="gifts" class="wrapper alt style2">
  {% include sections/gifts.html %}
</section>

<section id="couple" class="wrapper alt style2">
  {% include sections/couple.html %}
</section>