<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
  </div>

</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2><a href="https://www.abb-wfs.ch/" target="blank_">Villa Boveri</a></h2>
	<p>Abbiamo deciso di celebrare il nostro matrimonio all'interno di Villa Claudia a San Marco di Teano, un rustico padronale dominato dal verde e dai sapori locali.
    Oltre ai grandi spazi aperti e alla semplicità che caratterizza la villa, ciò che ci ha colpito è stata la possibilità di riscoprire e immergersi nella nostra tradizione culinaria.
  </p>
  </div>
  <div class="image">
    <a href="https://www.abb-wfs.ch/" target="blank_"><img src="images/villaboveri.jpg" alt="" /></a>
  </div>
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>A circa un'ora di auto da Napoli, la villa è facilmente raggiungibile imboccando la A1 in direzione Roma e uscendo a Capua.
      Da lì, si prosegue per la SS7 e infine la SP88 per gli ultimi 3km.

    <a target="_blank" href="https://www.google.com/maps/place/ABB+Wohlfahrtsstiftung,+Villa+Boveri/@47.4701352,8.305759,17z/data=!3m1!4b1!4m5!3m4!1s0x47906cc91e0a3f1b:0x92ac7df9f2ba067b!8m2!3d47.4701365!4d8.3078079">Calcola il tuo percorso.</a></p>
  </div>
  <div class="image">
    <img src="images/map_boveriy.png" alt="" />
  </div>
</section>
