<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Sabrina e Vittorio</h2>
	<p>Se state visitando questo sito, probabilmente conoscete già noi e la nostra storia.
  Ci siamo conosciuti letteralmente tra i banchi di scuola, e siamo una coppia da ormai 11 anni, gli ultimi 5 dei quali vissuti insieme a Berlino, città che ci ha fatto crescere tanto grazie alla sua multiculturalità e apertura verso il diverso.

</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Siamo l'esempio perfetto che gli opposti si attraggono: Sabrina, romantica e introspettiva, impulsiva e altamente ansiosa; Vittorio, razionale, calmo e fastidiosamente puntiglioso.
      <br/>
      Ma nonostante tutto, riusciamo a completarci in ogni situazione e a supportarci vicendevolmente.
    </p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>
