<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Tina and Mark</h2>
	<p>Tina Yau, a Bay Area native, and Mark Cerqueira, not a Bay Area native, met in
	the Bay Area in 2015. Mark <strong>thinks</strong> he's super funny, which Tina found and still
	finds somewhat endearing. Tina is a great cook, which Mark has, still, and will continue to
	be a huge fan of. Her basic salad is amazing!</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Tina is learning Portuguese; Mark is learning Chinese; so marriage is the logical next step. 
	Tina and Mark are eager to start the next chapter of their lives together.</p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>

