<section class="spotlight">
  <div class="image">
    <img src="images/couple/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Chantal & Benj</h2>
	<p>Text???</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/couple/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/couple/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/couple/pic2c.jpg" alt="" />
  </div>
</section>
