<section id="banner">
  <div class="inner">
    <header class="major">
      <h2>{% t pages.details.title %}</h2>
      <p>{% t pages.details.date %}</p>
    </header>


    <p>12:30 - 13:15: {% t pages.details.ceremony_info %} | <a href="#ceremony">Villa Boveri</a></p>
    <p>14:15 - 17:30: {% t pages.details.apero_info %} | <a href="#festivities">Club Joy/Grand Casino Baden</a></p>
    <p>18:00 - 02:00: {% t pages.details.dinner_info %} | <a href="#festivities">Restaurant/Grand Casino Baden</a></p>

    <a href="#rsvp" class="more scrolly">{% t pages.rsvp.title %}</a>
  </div>
</section>