<div class="inner">
  <header class="major">
    <h2>Vieni a celebrare con noi!</h2>
    <p>28 Maggio 2019</p>

	<p>Villa Claudia<br/>
	<a target="_blank" href="https://www.google.com/maps/dir//Villa+Claudia,+Via+doddi,+snc,+81057+San+Marco+di+Teano,+CE,+Italia/@41.2262418,13.9521888,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x133aef5a186b1ab3:0x514033377b44abb6!2m2!1d14.022229!2d41.226263!3e0">	Via doddi, snc, 81057<br/>
		San Marco di Teano, CE</p></a>
	
	<p>12:00 - Accoglienza ospiti</p>
  <p>12:30 - Cerimonia</p>
  <p>13:30 - Inizio ricevimento</p>
  
	<p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N3VyNTRrbGxxOHB1bDAxbzFiZ3NicGhwMGEgdml0dG9yaW8ubW9uYWNvMUBt&tmsrc=vittorio.monaco1%40gmail.com">Aggiungi questo evento al calendario Google</a></p>

  <p>Scarica l'app <a target="_blank" href="https://samsaidyes.com/app">SamSaidYes per condividere le tue foto</a></p>
  </header>
</div>
