<div class="inner">
  <header class="major">
    <h2>Vieni a celebrare con noi!</h2>
    <p>05 Juli 2022</p>
	
	<p>12:30 - 13:15: Trauung | <a href="#ceremony">Villa Boveri</a></p>
  <p>14:15 - 17:30: Apero | Club Joy/Grand Casino Baden</p>
  <p>18:00 - 02:00: Dinner | Restaurant/Grand Casino Baden</p>
  
	<p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N3VyNTRrbGxxOHB1bDAxbzFiZ3NicGhwMGEgdml0dG9yaW8ubW9uYWNvMUBt&tmsrc=vittorio.monaco1%40gmail.com">Aggiungi questo evento al calendario Google</a></p>

  <p>Scarica l'app <a target="_blank" href="https://samsaidyes.com/app">SamSaidYes per condividere le tue foto</a></p>
  </header>
</div>
