<section id="banner" style="background: #808080">
  <div class="inner">
    <header class="major">
      <h2>{% t pages.gifts.title %}</h2>
      <p>{% t pages.gifts.intro_text %}</p>
      <p>{% t pages.gifts.explanation %}</p>
    </header>
  </div>

  <section class="spotlight">
    <div class="content">
      <p>{% t pages.gifts.wire_transfer %}</p>
      <p>{% t pages.gifts.account_details %}</p>
      <p>{% t pages.gifts.iban %}</p>

    </div>

    <div class="image">
    <img src="images/gifts.jpg" alt="" />
  </div>

  </section>
</section>