<div class="inner">
  <header class="major">
    <h2>RSVP</h2>

	<form method="POST" action="http://formspree.io/mark2288@gmail.com">
	  <input type="text" name="name" placeholder="Your name" style="background: #ffdfe5"/>
	  <input style="background: #ffdfe5; margin-top: 4px" type="text" name="email" placeholder="Your email" style="background: #ffdfe5"/>
	  <textarea name="message" placeholder="Let us know if you can come and who's coming!" style="background: #ffdfe5; margin-top: 4px"></textarea>
	  <input type="text" name="_gotcha" style="display:none"/>
	  <br>
	  <button type="submit" style="background: #ffdfe5">RSVP</button>
	</form>
  </header>
</div>
