<div class="inner">
    <header class="major">
        <h2>RSVP</h2>

        <!-- Check https://blog.rampatra.com/wedding-website?ref=simplefill for more details        
        Current Invite Code: 271117
        -->

        <form id="rsvp-form" class="rsvp-form" action="" method="POST">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-input-group">
                        <i class="fa fa-envelope"></i>
                        <input type="email" name="email" class="" placeholder="Your email" required>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-input-group">
                        <i class="fa fa-user"></i>
                        <input name="name" class="" placeholder="Your name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-input-group">
                        <i class="fa fa-users"></i>
                        <input type="number" name="extras" class="" min="0" max="4" placeholder="Husband/Wife or kids" required>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-input-group">
                        <i class="fa fa-key"></i>
                        <input type="number" name="invite_code" id="invite_code" class="" min="0" placeholder="Invite code" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="alert-wrapper"></div>
            </div>
            <button class="btn-fill rsvp-btn">
                Yes, that's me!
            </button>
        </form>
        
    </header>
</div>