<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
  </div>

</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2><a href="http://www.villaclaudia.it/" target="blank_">Villa Claudia</a></h2>
	<p>Abbiamo deciso di celebrare il nostro matrimonio all'interno di Villa Claudia a San Marco di Teano, un rustico padronale dominato dal verde e dai sapori locali.
    Oltre ai grandi spazi aperti e alla semplicità che caratterizza la villa, ciò che ci ha colpito è stata la possibilità di riscoprire e immergersi nella nostra tradizione culinaria.
  </p>
  </div>
  <div class="image">
    <a href="http://www.villaclaudia.it/" target="blank_"><img src="images/venue1.jpg" alt="" /></a>
  </div>
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>A circa un'ora di auto da Napoli, la villa è facilmente raggiungibile imboccando la A1 in direzione Roma e uscendo a Capua.
      Da lì, si prosegue per la SS7 e infine la SP88 per gli ultimi 3km.

    <a target="_blank" href="https://www.google.com/maps/dir//Villa+Claudia,+Via+doddi,+snc,+81057+San+Marco+di+Teano,+CE,+Italia/@41.2262418,13.9521888,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x133aef5a186b1ab3:0x514033377b44abb6!2m2!1d14.022229!2d41.226263!3e0">Calcola il tuo percorso.</a></p>
  </div>
  <div class="image">
    <img src="images/map.jpg" alt="" />
  </div>
</section>
