<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
  </div>

</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2>Villa Claudia</h2>
	<p>Descrizione del posto</p>
  </div>
  <div class="image">
    <img src="images/venue1.jpg" alt="" />
  </div>
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Come arrivare.

    <a target="_blank" href="https://www.google.com/maps/dir//Villa+Claudia,+Via+doddi,+snc,+81057+San+Marco+di+Teano,+CE,+Italia/@41.2262418,13.9521888,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x133aef5a186b1ab3:0x514033377b44abb6!2m2!1d14.022229!2d41.226263!3e0">Link a Google Maps.</a></p>
  </div>
  <div class="image">
    <img src="images/map.jpg" alt="" />
  </div>
</section>
